.card {
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 10%;
    transition: box-shadow 0.3s ease-in-out;
    font-size: 0.7em;
}

.card img {
    /* max-width: 80%; */
    max-width: 300px;
    max-height: 300px;
}

#container-product * {
    text-decoration: none !important;
    color: black;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.product-grid .card {
    flex: 0 0 calc(33.33% - 10px); /* 33.33% for 3 items in a row, 10px for some space between the items */
    margin-bottom: 20px; /* Add some vertical space between the rows */
    margin-bottom: 20px;
}

.price {
    font-size: 1.5em;
    padding-top: 1em;
}

.specific-product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.specific-product img {
    padding-right: 10px;
}

.detailButton {
    background-color: #dfe8dd;
    border: none;
    color: black;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 30px 2px 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    transition: box-shadow 0.3s ease-in-out;
    font-weight: bold;
}

.card:hover {
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.cardSpecific {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%;
}

.product-image {
    flex: 1;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
}

.product-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-text p {
    font-size: 1.5rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

h2 {
    font-size: 1.5rem;
    padding: 1rem 0rem 1rem 0rem;
    font-weight: normal;
}

.card:hover {
    box-shadow: 6px 6px 10px 10px rgba(0, 0, 0, 0.5);
}

#thumbnail {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
}

/* Define the spin animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Apply the spin animation and mix-blend-mode to an element */
.spin {
    animation: spin 5s linear infinite; /* Adjust the timing to your needs */
    mix-blend-mode: multiply; /* Apply mix-blend-mode to the element */
}

#error-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
}

@media screen and (max-width: 1200px) {
    .product-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .product-grid .card {
        width: 450px;
        margin: auto;
    }
}

@media screen and (max-width: 1045px) {
    .product-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .product-grid .card {
        width: 450px;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .product-grid .card {
        width: 350px;
        margin: auto;
    }
}
