/*Contact page*/
.contact-info {
    background-color: #dfe8dd;
    border-radius: 30px;
    padding: 35px;
    margin-left: 20px;
}

.contact-form {
    display: block;
    width: 400px;
}

.contact-page {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-form label {
    margin-bottom: 0.2rem;
}

/*End contact page*/
