/* Header section */
header {
  color: black;
  width: 100%;
  outline: 2px solid #bcbcbc;
  outline-offset: 0px;
  display: flex;
  border-bottom: 2px solid #bcbcbc;
}

.navbar {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-evenly;
  gap: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

header > * {
  flex: 0.2;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
  padding-left: 20px;
}

.navbar a {
  text-decoration: none;
  font-size: 40px;
  color: #000000;
}

header i {
  transform: scale(2);
  padding: 2px;
}

.search-label {
  display: none;
}

nav a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

.navbar .active {
  text-decoration: underline;
}

.logoheader {
  padding: 10px;
  position: static;
}

header i {
  color: black;
}

/* End header */